.ATOMS-ICON-2019-edit-div {
  height: 100%;
  width: 100%;
}

.ATOMS-ICON-2019-edit-group {
  background-image: url(../../../static/img/shape-82.png);
  background-size: 100% 100%;
  height: 24px;
  left: 3px;
  position: relative;
  width: 18px;
}
