.ATOMS-ICON-2019-support-div {
  height: 100%;
  width: 100%;
}

.ATOMS-ICON-2019-support-group {
  background-image: url(../../../static/img/shape-81.png);
  background-size: 100% 100%;
  height: 23px;
  width: 23px;
}
