.ATOMS-DIVIDERS-LINE-1px-GRAY-div {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.ATOMS-DIVIDERS-LINE-1px-GRAY-rectangle {
  background-color: #d8dada;
  height: 1px;
  width: 1004px;
}
