.MOLECULES-TABLE-PAGINATION-div {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
}

.MOLECULES-TABLE-PAGINATION-group {
  height: 16px;
  left: 69px;
  position: absolute;
  top: 10px;
  width: 140px;
}

.MOLECULES-TABLE-PAGINATION-displaying-of-r {
  color: #000000;
  font-family: "Neue Haas Grotesk Display Std-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 16px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}
