.ATOMS-ICON-filter-clear-div {
  height: 100%;
  width: 100%;
}

.ATOMS-ICON-filter-clear-clear-filters {
  background-image: url(../../../static/img/path-29.png);
  background-size: 100% 100%;
  height: 58px;
  position: relative;
  width: 58px;
}

.ATOMS-ICON-filter-clear-shape {
  height: 27px;
  left: 28px;
  position: absolute;
  top: 30px;
  width: 27px;
}
