.MOLECULES-TAB-SECONDARY-SELECTED-div {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
}

.MOLECULES-TAB-SECONDARY-SELECTED-item-name {
  color: #000000;
  font-family: "Neue Haas Grotesk Display Std-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 16.8px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.MOLECULES-TAB-SECONDARY-SELECTED-COMPONENT-TAB-HORIZONTAL-SELECTED {
  height: 4px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 84px;
}
