.ATOMS-ICON-filter-save-div {
  height: 100%;
  width: 100%;
}

.ATOMS-ICON-filter-save-save-grid-settings {
  background-image: url(../../../static/img/shape-100.png);
  background-size: 100% 100%;
  height: 56px;
  position: relative;
  width: 56px;
}

.ATOMS-ICON-filter-save-path {
  height: 2px;
  left: 17px;
  position: absolute;
  top: 43px;
  width: 21px;
}

.ATOMS-ICON-filter-save-rectangle {
  background-color: #010101;
  height: 12px;
  left: 12px;
  position: absolute;
  top: 3px;
  width: 11px;
}
