.MOLECULES-TAB-PRIMARY-NOT-SELECTED-div {
  background-color: #ffffff;
  height: 100%;
  position: relative;
  width: 100%;
}

.MOLECULES-TAB-PRIMARY-NOT-SELECTED-item-name {
  color: #000000;
  font-family: "Neue Haas Grotesk Display Std-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 16.8px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}
